<div class="card animated fadeIn fast">
    <!--animated fadeIn fast para que se vea bonita cada tarjeta-->
    <!--alias de la variable y sera una variable local de heroes (la que se declaró en heroes.component.ts heroes: Heroe[] = [];)-->
    <!--<img src=" assets/img/aquaman.png " class="card-img-top " alt="Aquaman ">-->

    <!-- Para modificar las imagenes de cada card se puede usar una interpolación de strings src="{{heroe.img}}} "
    <img src="{{heroe.img}} " class="card-img-top " alt="Aquaman ">-->

    <!--De preferencia [entre] para indicar que angular lo va a manejar-->
    <img [src]="heroe.img " class="card-img-top " [alt]="heroe.nombre ">
    <div class="card-body ">
        <h5 class="card-title ">{{heroe.nombre}}</h5>
        <!--usando interpolación en <h5 class="card-title ">Card title</h5>-->
        <p class="card-text ">{{heroe.bio}}</p>
        <p class="card-text "><small class="text-muted ">{{heroe.aparicion}}</small></p>

        <!--Opcion2 <a [routerLink]="['/heroe',i] " class="btn btn-outline-primary ">Ver más link...</a> -->
        <!--<button type="button " class="btn btn-outline-primary btn-block ">Ver más ...</button>-->
        <!--Opción 1 mediante programación se le manda a la función verHeroe el index-->
        <button (click)="verHeroe() " type="button " class="btn btn-outline-primary btn-block ">Ver más ...</button>
    </div>
</div>